pkgbase = gtk3-classic
	pkgdesc = GTK3 patched for classic desktops like XFCE or MATE. Please see README.
	pkgver = 3.24.14
	pkgrel = 1
	url = https://github.com/krumelmonster/gtk3-mushrooms
	install = gtk3.install
	arch = x86_64
	license = LGPL
	makedepends = gobject-introspection
	makedepends = libcanberra
	makedepends = gtk-doc
	makedepends = sassc
	makedepends = libcups
	makedepends = meson
	makedepends = quilt
	makedepends = atk
	makedepends = cairo
	makedepends = libxcursor
	makedepends = libxinerama
	makedepends = libxrandr
	makedepends = libxi
	makedepends = libepoxy
	makedepends = gdk-pixbuf2
	makedepends = fribidi
	makedepends = libxcomposite
	makedepends = libxdamage
	makedepends = pango
	makedepends = shared-mime-info
	makedepends = at-spi2-atk
	makedepends = wayland
	makedepends = libxkbcommon
	makedepends = json-glib
	makedepends = librsvg
	makedepends = wayland-protocols
	makedepends = desktop-file-utils
	makedepends = mesa
	makedepends = gtk-update-icon-cache
	makedepends = adwaita-icon-theme
	makedepends = cantarell-fonts
	makedepends = lib32-atk
	makedepends = lib32-cairo
	makedepends = lib32-libxcursor
	makedepends = lib32-libxinerama
	makedepends = lib32-libxrandr
	makedepends = lib32-libxi
	makedepends = lib32-libepoxy
	makedepends = lib32-gdk-pixbuf2
	makedepends = lib32-fribidi
	makedepends = lib32-libxcomposite
	makedepends = lib32-libxdamage
	makedepends = lib32-pango
	makedepends = lib32-at-spi2-atk
	makedepends = lib32-wayland
	makedepends = lib32-libxkbcommon
	makedepends = lib32-json-glib
	makedepends = lib32-librsvg
	makedepends = lib32-mesa
	makedepends = lib32-libcups
	makedepends = lib32-krb5
	makedepends = lib32-e2fsprogs
	provides = gtk3=3.24.14
	provides = gtk3-mushrooms=3.24.14
	provides = gtk3-print-backends
	provides = libgtk-3.so
	provides = libgdk-3.so
	provides = libgailutil-3.so
	conflicts = gtk3
	conflicts = gtk3-print-backends
	source = series
	source = appearance__buttons-menus-icons.patch
	source = appearance__disable-backdrop.patch
	source = appearance__file-chooser.patch
	source = appearance__message-dialogs.patch
	source = appearance__print-dialog.patch
	source = appearance__smaller-statusbar.patch
	source = csd__clean-headerbar.patch
	source = csd__disabled-by-default.patch
	source = csd__server-side-shadow.patch
	source = file-chooser__places-sidebar.patch
	source = file-chooser__typeahead.patch
	source = fixes__atk-bridge-errors.patch
	source = fixes__labels-wrapping.patch
	source = fixes__too-large-menu-covers-bar.disabled-patch
	source = other__default-settings.patch
	source = other__hide-insert-emoji.patch
	source = other__mnemonics-delay.patch
	source = popovers__color-chooser.patch
	source = popovers__file-chooser-list.patch
	source = popovers__places-sidebar.patch
	source = smaller-adwaita.css
	source = https://download.gnome.org/sources/gtk+/3.24/gtk+-3.24.14.tar.xz
	source = settings.ini::https://git.archlinux.org/svntogit/packages.git/plain/trunk/settings.ini?h=packages/gtk3&id=dd59624b448ca6f6e48d4f1268fd3c871a20ae76
	source = gtk-query-immodules-3.0.hook::https://git.archlinux.org/svntogit/packages.git/plain/trunk/gtk-query-immodules-3.0.hook?h=packages/gtk3&id=dd59624b448ca6f6e48d4f1268fd3c871a20ae76
	source = README.md
	sha256sums = 4935ec23cbd0150bd479fc457861d3a665354509c3ff933997827c7141c8657c
	sha256sums = 963d8ac098b4be573897d231acfbb53185bbffae0ecf94861a60271ee664ed0e
	sha256sums = 3ccdaf68ed3c557987b984d7ad18a3af1e870e8488cd0fb010568281bcbca092
	sha256sums = 16edf7014239d5ae956d5742167f9facbb6b04588be1c9c4644bb745b7eb7e2b
	sha256sums = 441e15fdcf3a909628506decdfdaf941e4f812863f2e3e0820e39c61bf93be88
	sha256sums = 568cd11b34cbfb593bb0aa4c2ae2d2af13e539a5b3d1aca1d370daf791bb9896
	sha256sums = 3c9c57338bb6ae44a772d189dbaccf1a58f6e64704842ade847ff1bbe11e3ccd
	sha256sums = 66876362683d2f166842be053c1d324e47df475c1535ff6913ea8245d5a907d9
	sha256sums = a1a0d1a7365e7691c4434628e592a853b8593a417962fa01f7ad4792bb1522e8
	sha256sums = 99d899d53565a74c78f139f57cf726c292b77f2b467ab03ef557ac7e575f86ad
	sha256sums = 07b3959d1603e5f21f254d01335ff56a5fe5edfec998fd248f12ad925700831d
	sha256sums = 102479f46d9c40c553824b5f470fc19b9261e7c45ab0333859c04e2e0447c470
	sha256sums = 384f448b71980f32bd298e491434aa0817f5193c07553f1bbdb937e90c990b61
	sha256sums = 4386617c929c835c9a94f17a28aa03a4f63f90767cee24c874af77f94efe166d
	sha256sums = 03e9c02971f9221df1d28421f76263044d1e1a73e00051fea0a8323c7577f247
	sha256sums = d868f79b37e8c5d032b5f0fd1ea51a8c50996cb5fa2bf693de082215e9f892db
	sha256sums = b4c2dccfb6a1332512c705012be9ffb6bcf07794becda2592c686e9a37054375
	sha256sums = 009973688864b30287da1768ee56d92bb26974aa097501aef467f0749801ef7a
	sha256sums = e6517444d9ec7fb76a2d644a55658dae6f94aba67aba5c230f11afefa9271b51
	sha256sums = 41080e3632254e50a703dd69f5761784d1545471f8bf3cab1db9eee123957f2f
	sha256sums = 07faab98d9ff20f7323846840afe860a7fa4a35e67f949e5c26f73fd997d42d5
	sha256sums = ba93f62e249f2713dbfe6c82de1be4ac655264d6407ed3dc5e05323027520f31
	sha256sums = 1c4d69f93ab884fd80c6b95115bfbc12d51ecd029178b6dad3672fdc5ff91e88
	sha256sums = 01fc1d81dc82c4a052ac6e25bf9a04e7647267cc3017bc91f9ce3e63e5eb9202
	sha256sums = de46e5514ff39a7a65e01e485e874775ab1c0ad20b8e94ada43f4a6af1370845
	sha256sums = 1d2e3c41c7de03a31d717b09e053c88cbaca2ae74eefd982549c49de81c21ada

pkgname = gtk3-classic
	depends = atk
	depends = cairo
	depends = libxcursor
	depends = libxinerama
	depends = libxrandr
	depends = libxi
	depends = libepoxy
	depends = gdk-pixbuf2
	depends = fribidi
	depends = libxcomposite
	depends = libxdamage
	depends = pango
	depends = shared-mime-info
	depends = at-spi2-atk
	depends = wayland
	depends = libxkbcommon
	depends = json-glib
	depends = librsvg
	depends = wayland-protocols
	depends = desktop-file-utils
	depends = mesa
	depends = gtk-update-icon-cache
	optdepends = libcups: printers in printing dialog
	optdepends = dconf: default GSettings backend
	optdepends = libcanberra: sounds events
	optdepends = adwaita-icon-theme: default icon theme
	optdepends = cantarell-fonts: default font

pkgname = lib32-gtk3-classic
	pkgdesc = GTK3 patched for classic desktops like XFCE or MATE. (32-bit)
	depends = lib32-atk
	depends = lib32-cairo
	depends = lib32-libxcursor
	depends = lib32-libxinerama
	depends = lib32-libxrandr
	depends = lib32-libxi
	depends = lib32-libepoxy
	depends = lib32-gdk-pixbuf2
	depends = lib32-fribidi
	depends = lib32-libxcomposite
	depends = lib32-libxdamage
	depends = lib32-pango
	depends = lib32-at-spi2-atk
	depends = lib32-wayland
	depends = lib32-libxkbcommon
	depends = lib32-json-glib
	depends = lib32-librsvg
	depends = lib32-mesa
	depends = lib32-libcups
	depends = lib32-krb5
	depends = lib32-e2fsprogs
	depends = gtk3-classic>=3.24.14
	provides = lib32-gtk3=3.24.14
	conflicts = lib32-gtk3
